@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* outline: solid 1px green; */
}
.re-h1{
    
    font-weight: bold;
    color: #2E3D62;
    font-size: 50px;
    line-height: 60px;
    width: 100%;
    max-width: 650px;
     
     
}

.row{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
a{
    text-decoration: none;

}
li{
    list-style: none;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
     
    
  
    
}
 
nav{
   
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 50px;
    align-items: center;
    margin-top: 50px;
   position: relative;
  
   
}

.btn:hover{
    background-color: #2E3D62;
    color: white;
}
.btn{
    transition: all ease 500ms;
}

.nav--link{
    color: white;
     padding: 0 20px;
     font-size: 17px;
     font-weight: 500;
}
.logo{
    width: 100%;
    
}
.nav--links{
display: flex;

}

.btn{
    font-weight: 600;
    font-size: 16px;
    border-radius: 30px;
    padding: 16px 50px;
    box-shadow: 0px 10px 30px 0px rgb(255 130 87 / 30%);
    background-color: #ff8257;
}
#home{
    background-image: url(https://nuxt-nodid.netlify.app/images/banner-bg-1-2.jpg);
    background-size:cover;
    padding-top: 230px;
    z-index: -12;
   
     height:100vh ;
}

.btn-white{
    background-color: white;
    color: black;
}


.container--home{
    display: flex;
 
width: 100%;
}
.home--right{
    width: 100%;
    max-width: 500px;
    z-index: 23;
}
.home--header{
    color: white;
    font-size: 60px;
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 30px;
}

.home--para{
    color: white;
    font-size: 1rem;
    line-height: 35px;
    margin-bottom: 50px;
    
}

 
.img--home{
    position: absolute;
    right: 0;
   width: 1000px;
z-index: 1;   
 
}
.burg{
    color: white;
    font-size: 27px;
    left: 155px;
    top: 10px;
    position: absolute;
      display: none;
      opacity: 0;
      cursor: pointer;
}

.x{
    color: #ff8257;
    font-size: 27px;
    left: 210px;
    top: 15px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
}
.burg--li{
    padding: 20px 0;
    padding-left: 25px;
}
.burger--link{
    color: #ff8257;
    font-size: 21px;
    font-weight: 500;
    
}
.burger--links{
position: absolute;
left: 150px;
top:10px;
padding-right: 100px;
box-shadow: 0px 10px 30px 0px rgb(255 130 87 / 30%);
border-radius: 10px;
     background-color: #ffffff;
     display: none;
 
 }

@media (max-width:1477px) {
    .img--home{
        width: 900px;
    }
}

@media (max-width:1275px) {
    .img--home{
        display: none;
    }
    .home--header{
        text-align: center;
        
    }
    .home--right{
        margin: 0 auto;
         text-align: center;
    }
}
@media (max-width:1222px) {
  .nav--links{
    display: none;
  }
  .burg{
    display: block;
    opacity: 1;
  }
  .row{
    max-width: 800px;
  }
}

.hide{
display: none;
}
.show{
    display: block;
}


.skills-head{
    text-align: center;
    font-weight: bold;
    color: #2E3D62;
    font-size: 50px;
    line-height: 60px;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding-bottom: 90px;
}

.cols-wrapper{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
transition: all ease 600ms;
}



#skills{
    margin-top: 150px;
}

.cols--header{
     font-size: 20px;
    line-height: 34px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #2E3D62;
    width: 100%;
    max-width: 100px;
    transition: all ease 600ms;
     
}

.cols--icon{
    font-size: 55px;
    color: #5DD8D3;
    padding-bottom: 10px;
    transition: all ease 600ms;
}
.b{
    color: #9364D4;
}

.a{
    color: #EE539B;
}
.c{
    color: #FDDD6E;
}

.one:hover{
    background-color: #5DD8D3;
    
}
.two:hover{
    background-color: #EE539B;
    
}
.three:hover{
    background-color: #9364D4;
    
}
.four:hover{
    background-color: #FDDD6E;
    
}
.skills--cols:hover .cols--header{
    color: white;
}
.skills--cols:hover .cols--icon{
    color: white;
}
.skills--cols:hover .cols--para{
    color: white;
}


.cols--para{
    color: #666E82;
    font-size: 16px;
    line-height: 34px;
    width: 100%;
    max-width: 200px;
    transition: all ease 600ms;
}

.skills--cols{
    transition: all ease 600ms;
    padding: 0 50px;
  height: 360px;
  display: flex;
  flex-direction: column;
   justify-content: center;
   border-radius: 10px;
  
}

@media (max-width:650px) {
.skills-head{
    font-size: 30px;
    width: 400px;
}
}
#iphone{
    margin-top: 250px;
}
#features{
    margin-top: 160px;
    position: relative;
}
.container--iphone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.iphone--para{
    font-size: 20px;
    color: #666E82;
    line-height: 40px;
    margin-bottom: 30px;
     
}
.h1-edit{
    margin-bottom: 50px;
}

.small{
    font-size: 18px;
    color: #666E82;
    line-height: 40px;
    padding: 2px 0;
    
}

.check{
    color: #ff8257;
font-size: 20px;
padding-right: 20px;
}
.check--subtitles{
    display: flex;
    align-items: center;
   
}

.btn-white-text{
    color: white;
     
}

.😄{
    margin-bottom: 50px;
}


.right--iphone{
    width: 50%;
    padding-left: 50px;
}

.iphone--img{
    width: 100%;
    max-width: 800px;
}

@media (max-width:1222px) {
    .container--iphone{
        flex-direction: column;
    }
    .iphone--img{
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width:600px) {
    .iphone--img{
       display: none;
    }
    .right--iphone{
        
        margin: 0 auto;
    }
    .h1-edit{
        font-size: 40px;
        width: 100%;
        text-align: center;
    }
    .iphone--para{
        text-align: center;
        width: 100%;
        font-size: 16px;
    }
    .check--subtitles{
        padding: 10px 0;
    }
    .small{
        font-size: 15px;
        line-height: 25px;
    }
}


.contianer--features{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

}

.size-fea{
    font-size: 55px;
}

.featers--left{
   width: 50%;
}
.features--right{
   
   width: 40%;
   display: flex;
    align-items: center;
  
}
.featurs--img{
    position: absolute;
      width: 900px;
      right:0 ;
      bottom: -50px;
      z-index: -1;
}
.icons--container-features{
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
}
.icons--features__wrapper{
    padding-right:70px;
    margin-top:60px;
    
     
}

.size--fea-down{
    font-size: 18px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 550px;
}

@media (max-width:1630px) {
    .featurs--img{
        width: 800px;
    }
}
@media (max-width:1400px) {
    .featurs--img{
        width: 500px;
    }
}
@media (max-width:1200px) {
    .featurs--img{
       display: none;
    }
    .features--right{
        display: none;
    }
    .feauters-head{
        text-align: center;
    }
    .size--fea-down{
        text-align: center;
        font-size: 17px;
    }
    .fea-btn{
         
    }
    .featers--left{
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .icons--container-features{
    margin: 0 auto;
    }
    
    #features{
        margin-top: 250px;
    }
}


@media (max-width:776px) {
    .🤖{
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    }
}
@media (max-width:600px) {
    .icons--features__wrapper{
        display: none;
    }
    .size--fea-down{
        line-height: 27px;
        font-size: 15px;
        margin-top: 20px;
    }
    .feauters-head{
        font-size: 30px;
        line-height: 37px;
    }
}